# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.ruff_cache

# Dependencies
venv/
env/
.env
.env.local
.env.*
**/venv/

# Application Data & Runtime
data/
logs/
instance/
flask_session/

# Database
postgres_data/

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Certificates
certs/

# Tests
tests/
